<div
  class="modal fade"
  id="issueModal"
  tabindex="-1"
  aria-labelledby="issueModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create an Issue</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true"></span>
        </button>
      </div>

      <grammarly-extension
        data-grammarly-shadow-root="true"
        style="position: absolute; top: 0px; left: 0px; pointer-events: none"
        class="dnXmp"
      ></grammarly-extension>

      <div class="px-4 pt-4">
        <form action="/project/issue/create/<%= project._id %>" method="POST">
          <div class="form-group row mb-3">
            <label for="title" class="col-sm-3 col-form-label">Title</label>
            <div class="col-sm-9">
              <input
                type="text"
                name="title"
                required
                class="form-control"
                id="title"
                value=""
                placeholder="Enter Title"
              />
            </div>
          </div>
          <div class="form-group row mb-3">
            <label for="description" class="col-sm-3 col-form-label mt-4"
              >Description</label
            >
            <div class="col-sm-9">
              <textarea
                class="form-control"
                name="description"
                id="description"
                placeholder="Describe your issue..."
                required
                rows="3"
                spellcheck="false"
                data-ms-editor="true"
                style="height: 163px"
              ></textarea>
            </div>
          </div>
          <% if (project.labels.length>0) { %>
          <div class="mb-3">
            <a
              class="btn btn-outline-primary dropdown-toggle"
              data-bs-toggle="dropdown"
              href="#"
              role="button"
              id="labelBtnDrop"
              aria-haspopup="true"
              aria-expanded="false"
              >Label</a
            >

            <div class="dropdown-menu" aria-labelledby="labelBtnDrop">
              <% for(let label of project.labels) { %>
              <a href="#" class="dropdown-item" data-label="<%= label %>"
                ><%= label %></a
              >
              <% } %>
            </div>
          </div>
          <% } %>
          <div class="form-group row mb-3">
            <label for="addLabels" class="col-sm-3 col-form-label"
              >Add Labels</label
            >
            <div id="addLabels" class="col-sm-9">
              <div class="form-check">
                <input
                  class="form-check-input"
                  name="labels"
                  type="checkbox"
                  value="Bug"
                  id="bug"
                  checked=""
                />
                <label class="form-check-label" for="bug"> Bug </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  name="labels"
                  type="checkbox"
                  value="UI Improvement"
                  id="ui-improvement"
                />
                <label class="form-check-label" for="ui-improvement">
                  UI Improvement
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  name="labels"
                  type="checkbox"
                  value="Documentation"
                  id="documentation"
                />
                <label class="form-check-label" for="documentation">
                  Documentation
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  name="labels"
                  type="checkbox"
                  value="Enhancement"
                  id="enhancement"
                />
                <label class="form-check-label" for="enhancement">
                  Enhancement
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  name="labels"
                  type="checkbox"
                  value="Duplicate"
                  id="duplicate"
                />
                <label class="form-check-label" for="duplicate">
                  Duplicate
                </label>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="author" class="col-sm-3 col-form-label">Author</label>
            <div class="col-sm-9">
              <input
                type="text"
                name="author"
                required
                class="form-control"
                id="author"
                placeholder="Enter Author's Name"
              />
            </div>
          </div>

          <div class="modal-footer mt-4 justify-content-evenly">
            <button type="submit" class="btn btn-info">Create Issue</button>
            <button
              type="button"
              class="btn btn-outline-danger"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="/assets/labelDropdown.js"></script>
